
*.log
*.ini
Saved/Config/CrashReportClient/UE4CC-Windows-1EB88EFA4A540896AFD02F94254F33C0/CrashReportClient.ini
Saved/Config/CrashReportClient/UE4CC-Windows-722D248344651FE2618940B01872C66D/CrashReportClient.ini
